# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
MS.FE/management-system/node_modules
MS.FE/management-system/.pnp
MS.FE/management-system/.pnp.js

# testing
MS.FE/management-system/coverage

# production
MS.FE/management-system/build

# misc
MS.FE/management-system/.DS_Store
MS.FE/management-system/.env.local
MS.FE/management-system/.env.development.local
MS.FE/management-system/.env.test.local
MS.FE/management-system/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/MS.BE/management_system/.vs
/MS.BE/management_system/bin/Debug/net8.0
/MS.BE/management_system/obj/Debug/net8.0
/MS.BE/management_system/obj
/MS.BE/management_system/appsettings.json
/MS.BE/management_system.Entities/bin/Debug/net8.0
/MS.BE/management_system.Entities/obj/Debug/net8.0
/MS.BE/management_system.Entities/obj
/MS.BE/management_system.Repository/bin/Debug/net8.0
/MS.BE/management_system.Repository/obj
/MS.BE/management_system.Services/bin/Debug/net8.0
/MS.BE/management_system.Services/obj/Debug/net8.0
/MS.BE/management_system.Services/obj
/MS.BE/management_system.Shared/bin/Debug/net8.0
/MS.BE/management_system.Shared/obj
/MS.FE/management-system/.idea
MS.FE/management-system/.env
